<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC_Spring_Hibernate">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_Spring_Hibernate</output-path>
    <root id="archive" name="SpringMVC_Spring_Hibernate.war">
      <element id="artifact" artifact-name="SpringMVC_Spring_Hibernate:war exploded" />
    </root>
  </artifact>
</component>